<!DOCTYPE html>
<html>
<head>
  <title>Nuclear secrets</title>
  <%= stylesheet_link_tag    "nuclear_secrets/application", media: "all" %>
  <%= javascript_include_tag "nuclear_secrets/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
